body {
    font-family: 'Archivo Black', sans-serif;
  }
    .Back {
        width: 196vh;
        height: 98vh;
        background-color: black;

    }
  
    .Fundo {
        width: 556px; /* Largura do quadrado */
        height: 643px; /* Altura do quadrado */
        background-color: #3a3737; /* Cor de fundo (opcional) */
        border-radius: 50px;
    }

    .Fundo {
    
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          
          }

    .zero {
        width: 169px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);
    }

    .zero {
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 80%;
        right: 51%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px
        
    }
    
    .um {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);
    }

    .um{
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 68%;
        left: 70%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px
    }
          
    .dois {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);
    }

    .dois{
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 68%;
        left: 43%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px
    }
         
    .tres {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);
    }

    .tres{
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 68%;
        left: 16%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px
    }
         
    .quatro {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);
    }

    .quatro{
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 56%;
        left: 70%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px

    }
          
    .cinco {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);
    }

    .cinco{
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 56%;
        left: 43%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px

    }
         
    .seis {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);
    }

    .seis {
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 56%;
        left: 16%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px

    }
    
    .quatro {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);
    }

    .quatro{
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 56%;
        left: 70%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px
        
    }
          
    .cinco {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);
    }

    .cinco{
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 56%;
        left: 43%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px

    }
         
    .seis {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);
    }

    .seis {
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 56%;
        left: 16%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        color: rgb(53, 51, 51);

    }
    
    .sete {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);

    }

    .sete {
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 44%;
        left: 70%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px;

    }
    .oito {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;    
        color: rgb(53, 51, 51);
    }

    .oito {
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 44%;
        left: 43%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px

    }
    
    .nove {
        width: 145px; /* Largura do quadrado */
        height: 60px; /* Altura do quadrado */
        background-color: #a6a6a6; /* Cor de fundo (opcional) */
        border-radius: 40px;
        color: rgb(53, 51, 51);
    }

    .nove {
        position: absolute; /* Posiciona o conteúdo de forma absoluta dentro da div */
        top: 44%;
        left: 16%;
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
        margin: 0; /* Remove margens padrão do texto */
        font-family: 'Archivo Black', sans-serif; /* Define a fonte */
        font-size: 32px

    }
    
   
      

    .txt {
        width: 490px ;
        height: 60px ;
      background-color: #a6a6a6;
      border-radius: 30px;

    }

    .txt {
        position: absolute;
        top: 10%;
        left: 5%;
    }
    
    .Parents {
        width: 81px;
        height: 60px;
        background-color: #7898df;
        border-radius: 20px;
        color:aliceblue
        

    }

    .Parents {
        position: absolute;
        top: 51%;
        left: 84%;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px
    }

    .Porcent {
        width: 81px;
        height: 60px;
        background-color: #7898df;
        border-radius: 20px;
        color:aliceblue
    

    }
    .Porcent {
        position: absolute;
        top: 39.5%;
        left: 84%;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px
    }

    
    .Del {
        width: 81px;
        height: 60px;
        background-color: red;
        border-radius: 20px;
        color:aliceblue
    

    }
    .Del{
        position: absolute;
        top: 62.9%;
        left: 84%;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px
    }

    .mais {
        
    }


    
          
    
